/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*En tu hoja de estilos */
a:link, a:visited, a:active {
    text-decoration:none;
}


*{
	box-sizing: border-box;
}

.BarraPricipal{
    float: left;
}

#logo{
    width: 50px;
    height: 50px;
    margin: 5px;
}
/***********************
 *   barra buscadora   *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 0px 0 0px; /* Padding for other horizontal elements */
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 30px;
    padding: 0 46px 0 10px;
    border-color: #888;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 5px;
    margin-top: 10px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
	
.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 0;
    border: none;
    margin-top: 0px; /* margin-top + border-width */
    margin-right: 15px; /* border-width */
    background: transparent;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333; 
}

.flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;  
}

input:-moz-placeholder {
    color: #888
}

.button {
    background-color: #ffd85e; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 35px;
    font-family: 'Helvetica', sans-serif;
    border: 2px solid black;
    
}

.button:hover {
    background-color: #ffb154; 
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
}

